{% extends 'base.html' %}
{% block content %}
{% load static %}

<link rel="stylesheet" href="{% static 'css/pf.css' %}">

<div class="profile-info">
    <h1 style="text-align: center;">Our Profile</h1>

    <div class="user-profile-image-box">
    
    {% if profile.profile_picture %}
        <img style="border-radius: 25%; margin-bottom: 10px;" src="{{ profile.profile_picture.url }}" alt="Profile Picture" width="150">
    {% else %}
        <img src="{% static 'img/default.jpg.png' %}" alt="Default Profile Picture" width="150">
    {% endif %}
    
    </div>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }} 
        
            <div class="msg">
                {% for message in messages %}
                    <h3 style="font-size: 18px;color: rgb(47, 217, 24); ">{{ message }}</h3>
                {% endfor %}
            </div>
        </form>
    

    <div class="user-info">
        <div class="label-data">
            <div class="label">Name:</div>
            <div class="data">{{ user.first_name }}</div>
        </div>
        <div class="label-data">
            <div class="label">Username:</div>
            <div class="data">{{ user.username }}</div>
        </div>
        <div class="label-data">
            <div class="label">Email:</div>
            <div class="data">{{ user.email }}</div>
        </div>
    </div>

    <div class="mt-2">
        <a href="{% url 'edit_profile' %}" class="btn btn-success btn-sm" style="width: 100px;">Edit</a>
    </div>
</div>












<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        
    }

    body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f9;
        justify-content: center;
        align-items: center;
        height: 100vh;

    }
    .file-input-clear { 
        display: none; 
    }
    p {
        display: none;  /* Hides unnecessary text (optional) */
    }
</style>
{% endblock %}
