{% extends 'base.html' %}
{% block content %}
{% load static %}

<link rel="stylesheet" href="{% static 'css/signup.css' %}">

<!-- Sign-Up Form Section -->

    <form action="sign_up" method="post" enctype="multipart/form-data" class="bg-white p-4 rounded shadow-sm mx-auto" style="max-width: 500px; opacity: 0.95;">
        <h1 class="text-center mb-4" style="font-weight: bold; color: #06BBCC;">Sign Up</h1>

        {% csrf_token %}
        <div>
            {% for message in messages %}
            <h3 style="font-size: 18px; color: red;">
                {{message}}
            </h3>
            {% endfor %}
        </div>
        <div class="form-group">
            <label for="Fname">First Name:</label>
            <input type="text" class="form-control" id="Fname" name="Fname" required>
        </div>
        <div class="form-group">
            <label for="Lname">Last Name:</label>
            <input type="text" class="form-control" id="Lname" name="Lname" required>
        </div>

        <div class="form-group">
            <label for="Uname">Username:</label>
            <input type="text" class="form-control" id="Uname" name="Uname" required>
        </div>

        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="email" name="email" required>
        </div>

        <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" class="form-control" id="pwd" name="password" required>
        </div>

        <div class="form-group">
            <label for="pwd">Confirm Password:</label>
            <input type="password" class="form-control" id="pwd" name="cpassword" required>
        </div>

        <div class="form-group">
            <label for="id_profile_picture">Add Profile Picture:</label><br>
            <input type="file" name="profile_picture" id="id_profile_picture">
        </div>
        <button type="submit" class="btn btn-primary w-100" style="background-color: #06BBCC;color: black;">Sign Up</button>
    </form>
</div>


{% endblock %}
